* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #ffffff;
}
#spantext {
  color: yellow;
}

.navi {
  float: right;
}

.exc {
  color: yellow;
}

#piz-pap {
  font-family: cursive;
  font-size: 35px;
  font-weight: normal;
  color: darkorange;
}